/* ================ Inicio Estilos Globales ================*/

/* Paleta de colores */

:root{
    --blue-soft: #00A2E9;
    --blue-medium:#003BB2 ;
    --blue-hard: #1207A6 ;
    --red-soft: #FF3F3F;
    --red-medium: #FF0000;
    --red-hard: #D70000;
}


/* Tipografía */


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Aplicación de estilos */

*{
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Merriweather", serif;
}

a{
    text-decoration: none!important;
}



/* ================ Fin Estilos Globales ================*/



/* ================ Inicio Estilos Cabecera ================*/

header{
    padding: 15px 0px;
}

.logo-radio{
    width: 120px;
}

.navbar-container-one{
    display: flex;
    justify-content: center;
    column-gap: 14px;
}


/* ================ Fin Estilos Cabecera ================*/


/* ================ Inicio Jerarquías de Texto ================*/

.p-icon-navbar{
    font-size: 30px;
}


/* ================ Fin Jerarquías de Texto ================*/




/* ================ Inicio Hipervínculos ================*/

.enlace-icon-nav{
    color: var(--blue-medium); 
 }
 
 .enlace-icon-nav:hover{
     color: var(--red-medium); 
 }

/* ================ Fin Hipervínculos ================*/


/* ================ Inicio Botones ================*/

.btn-style-1{
   background-color: var(--blue-medium);
   color: white; 
   padding: 12px 30px;
   border-radius: 20px;
   font-size: 18px;
   font-weight: 700;
}

.btn-style-1:hover{
    background-color: var(--red-medium);
 }


/* ================ Fin Botones ================*/
